*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
}

#canvas {
  height: 600px;
  width: 600px;
  background: linear-gradient(to right, black, grey);
  margin: 10px auto;
  position: relative;
}

#canvas > div {
  --left: 0;
  --width: 0;
  --height: 0;
  --color: '';
  display: inline-block;
  position: absolute;
  bottom: 0%;
  left: calc(var(--left) * 1%);
  width: var(--width);
  height: calc(var(--height) * 1%);
  background-color: var(--color);
  transform: translateX(-50%);
}
