*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
}

#canvas {
  height: 600px;
  width: 600px;
  background: linear-gradient(to right, black, grey);
  margin: 10px auto;
  position: relative;
}

.bars {
  --width: 0;
  --height: 0;
  --left: 0;
  position: absolute;
  bottom: 0%;
  left: var(--left);
  height: var(--height);
  width: var(--left);
  background-color: blueviolet;
  transform: translateX(-50%);
}